domain.toml

*.txt
*.xlsx
*.exe


# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
main
main.go

# OS X
.DS_Store
# Windows
Thumbs.db
# IDE Settings
.idea
.vscode
.fleet

/output/
/build/
/bin/
/pprof/
/vendor
